
<h2>Shipping Info:</h2>
<%= form_tag "/admin/users/#{@order.user.id}/orders/#{@order.id}/update", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @order.name %>

  <% @order.user.addresses.each do |address| %>
    <p id='address-<%= address.id %>'>
      <%= radio_button_tag(:address_id, address.id) %>
      <%= label_tag "#{address.name}" %><br>
      <%= address.address %><br>
      <%= "#{address.city}, #{address.state} #{address.zip}" %>
    </p>
  <% end %>

  <%= submit_tag 'Update Shipping Address' %>
<% end %>
