<h1>Order ID: <%= @order.id %></h1>
<article id='order-info'>
  <p>
    <%= @order.name %><br>
    <%= @order.address.address %><br>
    <%= "#{@order.address.city}, #{@order.address.state} #{@order.address.zip}" %>
  </p>
  <%= render partial: 'partials/order_info',
    locals: {
      id: @order.id,
      created_at: @order.created_at,
      updated_at: @order.updated_at,
      status: @order.status,
      item_orders: @order.item_orders,
      total_quantity: @order.total_quantity,
      grand_total: @order.grand_total
    }
  %>
<% if @order.status == 'Pending' %>
  <p><%= link_to 'Update Shipping Info', "/admin/users/#{@order.user.id}/orders/#{@order.id}/edit" %>
  <p><%= link_to 'Cancel Order', "/admin/users/#{@order.user.id}/orders/#{@order.id}/cancel", method: :patch %>
<% end %>
</article>
